shtest2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "shtest2"
		},
		"AzureMySql1_connectionString": {
			"type": "secureString",
			"metadata": "'AzureMySql1'의 'connectionString'에 대한 보안 문자열"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "'AzureDataLakeStorage1'의 'accountKey'에 대한 보안 문자열"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://asostorageshtest.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('AzureMySql1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "CustomerKey",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "GeographyKey",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CustomerAlternateKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Title",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FirstName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MiddleName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LastName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NameStyle",
						"type": "tinyint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "BirthDate",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MaritalStatus",
						"type": "char",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Suffix",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Gender",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EmailAddress",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YearlyIncome",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TotalChildren",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NumberChildrenAtHome",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EnglishEducation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SpanishEducation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FrenchEducation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EnglishOccupation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SpanishOccupation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "FrenchOccupation",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "HouseOwnerFlag",
						"type": "char",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NumberCarsOwned",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "AddressLine1",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "AddressLine2",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Phone",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DateFirstPurchase",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CommuteDistance",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "dimcustomer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "mysql",
						"fileSystem": "demo"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "AzureMySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "GeographyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "CustomerAlternateKey",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "NameStyle",
											"type": "Boolean",
											"physicalType": "tinyint"
										},
										"sink": {
											"type": "Boolean",
											"physicalType": "Boolean",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"type": "DateTime",
											"physicalType": "DateTime",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "MaritalStatus",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "Suffix",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "EmailAddress",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "YearlyIncome",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "TotalChildren",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "NumberChildrenAtHome",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "EnglishEducation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "SpanishEducation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 18
										}
									},
									{
										"source": {
											"name": "FrenchEducation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 19
										}
									},
									{
										"source": {
											"name": "EnglishOccupation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 20
										}
									},
									{
										"source": {
											"name": "SpanishOccupation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 21
										}
									},
									{
										"source": {
											"name": "FrenchOccupation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 22
										}
									},
									{
										"source": {
											"name": "HouseOwnerFlag",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 23
										}
									},
									{
										"source": {
											"name": "NumberCarsOwned",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "Int32",
											"physicalType": "Int32",
											"ordinal": 24
										}
									},
									{
										"source": {
											"name": "AddressLine1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 25
										}
									},
									{
										"source": {
											"name": "AddressLine2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 26
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 27
										}
									},
									{
										"source": {
											"name": "DateFirstPurchase",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"type": "DateTime",
											"physicalType": "DateTime",
											"ordinal": 28
										}
									},
									{
										"source": {
											"name": "CommuteDistance",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 29
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureMySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureMySqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2021-04-16T17:30:00",
						"endTime": "2021-04-17T08:17:00",
						"timeZone": "Korea Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}